# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

# pytest
.pytest_cache/

# OS
Thumbs.db
.DS_Store

# Capture output
screenshots/
*.mp4
